{% extends 'base.html' %}

{% block content %}
<h2>Детали товара</h2>
<div>
    <h3>{{ product.name }}</h3>
    <p> Phone — это линейка смартфонов Apple, отличающаяся премиальным дизайном (стекло, металл), мощными процессорами Apple, яркими OLED-экранами (Super Retina XDR) и передовыми камерами с умной обработкой, работающих под управлением iOS и использующих порт USB-C (на новых моделях), с функциями как True Tone, Dynamic Island и продвинутыми системами безопасности и конфиденциальности. </p>
    <b>Цена: {{ product.price }} ₸</b>
</div>
{% endblock %}