{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">🛒 Корзина</h1>

    {% if items %}
        <div class="table-responsive">
            <table class="table align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            <strong>{{ item.product.name }}</strong><br>
                            <small class="text-muted">{{ item.product.description|truncatechars:50 }}</small>
                        </td>
                        <td>{{ item.product.price }} ₸</td>
                        <td class="text-flex gap-2">
                            {{ item.quantity }} шт.
                            <a href="{% url 'update_cart_item' item.product.id %}?action=inc" class="btn btnsm btn-success">+</a>
                            <a href="{% url 'update_cart_item' item.product.id %}?action=dec" class="btn btnsm btn-warning">-</a>
                        </td>
                        <td class="text-end">
                            <form method="post" action="{% url 'remove_from_cart' item.product.id %}">
                               {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm">
                                    ✕
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Итоговая сумма:</h5>
                            <strong>{{ total_price }} ₸</strong>
                        </p>
                        {% for item in items %}
                        <a href="{% url 'create_payment' item.product.id %}" class="btn btn-primary w-100">
                            Оформить заказ
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="alert alert-info">
            Корзина пуста 😕
        </div>
        <a href="{% url 'product_list' %}" class="btn btn-outline-primary">
            Вернуться к покупкам
        </a>
    {% endif %}
</div>
{% endblock %}